#background-login{
    background-image:url(https://cf.shopee.vn/file/sg-11134004-23010-qacwpnvb05lve3);
    background-repeat: no-repeat;
    background-position:left;
    height: 900px;
    background-size: contain;
    width: 100%;
    background-color: #ee4d2d;
    }
    
    /* form{
        margin-right: 250px;
        margin-top:50px ;
        width: 500px;
        height: 500px;
    }
    
    button{
        background-color: #ee4d2d;
        color: white;
    } */
    
    .form-container {
        width: 500px;
        height: 800px;
        float: right;
        margin-right: 15%;
        text-align: center;
        background-color: white;
        margin-top: 70px;
      }
    
      .form-group {
        margin: 20px 0;
      }
    
      label {
        font-weight: bold;
      }
    
      input[type="text"],
      input[type="password"] {
        width: 70%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid gray;
        border-radius: 5px;
      }
      input[type="submit"] {
        width: 70%;
        padding: 10px;
        margin: 20px 0;
        background-color: #ee4d2d;
        color: white;
        border: none;
        cursor: pointer;
      }
    
      .hr1{
        height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    display: inline;
    align-items: center;
      }
    
      .hoac{
        color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: .75rem;
      }